<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(183, 232, 240)">
      <a class="navbar-brand" style="color:rgb(245, 220, 144)" href="/">Home</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/viewAll">View all</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new">New Product</a>
          </li>
        </ul>
      </div>
    </nav>